:root {

    --clr-bgmain: hsl(233, 47%, 7%);
    --clr-bgcard: hsl(244, 38%, 16%);
    --clr-accent: hsl(277, 64%, 61%);
    --clr-head: hsl(0, 0%, 100%);
    --clr-par: hsla(0, 0%, 100%, 0.75);
    --clr-stat: hsla(0, 0%, 100%, 0.6);
    --clr-par2: hsla(0, 0%, 100%, 0.65);
    --clr-gradient: hsl(277, 64%, 61%, 0.5);

    --ff-base: 'Inter', sans-serif;
    --ff-sec: 'Lexend Deca', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--clr-bgmain);
    font-size: 15px;
    display: grid
}
article{
    margin: 60px 20px 50px 20px;
    padding-bottom: 2rem;
}
picture {
    order: -1;
    background: var(--clr-accent);
    background-size: contain;
    border-radius: 0.5rem 0.5rem 0 0;

}
img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    mix-blend-mode: multiplay;
    opacity: 0.5;
    border-radius: 0.5rem 0.5rem 0 0;
    
     
}
a {
    color: var(--clr-accent);
}

span {
    color: var(--clr-accent);
}
.nowrap{
    color: white;
    white-space: nowrap;
}
.card {
    width: 100%;
    background-color: var(--clr-bgcard);
    display: grid;
    gap: 1rem;
    max-width: 111rem;
    grid-template-columns: 1fr;
    border-radius: 0.5rem;
}
.desc { 
    height: 100vh;
    padding: 1rem 2rem 1rem 2rem;
    height: fit-content;
}

h1 {
    color: var(--clr-head);
    font-family: var(--ff-base);
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.05rem;
}

p {
    color: var(--clr-par2);
    font-family: var(--ff-base);
    font-size: 13px;
    line-height: 1.2rem;
    font-weight: var(--fw-regular);
    letter-spacing: 0.0005rem;
    text-align: center;
    padding: 1.2rem;
    padding-bottom: 2rem;   
}
.stat {
    color: var(--clr-stat);
  
}
.stat ul {
    list-style-type: none;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
    place-items: center;
    padding-bottom: 1.8rem;
        
}
.info {
    font-family: var(--ff-sec);
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.07em;
}
.numb { 
    font-family: var(--ff-base);
    font-weight: 700;
    color: var(--clr-head);
    font-size: 18.5px;
}
footer{
    color: white;
    position: static;
    inset: auto 0 0 0;
    padding-bottom: 2rem;
    text-align: center;
}

 @media screen and (min-width: 1200px)
 {
    body {
        display: grid;
        justify-content: center;
        align-items: center;
    }
    article {
        display: grid;
        padding: 0;
        margin: 0;
        max-width: 100%;
    }
    .card {
        display: grid ;
        grid-template-columns: 50% 50%;
        width: 1100px;

    }
    .desc {   
        order: -1;
        padding: 4rem 3rem 3rem 5rem;
    }
    .desc h1 {
        text-align: left;
        font-size: 30px;
        letter-spacing: 0.08rem;
        line-height: 2rem;
    }
    .desc p {
        text-align: left;
        padding-left: 0;
        padding-right: 7rem;
        padding-bottom: 3.6rem;
        padding-top: 2.5rem;
    }
    .nowrap {
        white-space: inherit;
    }
    .card picture {
        width: max-content;
        border-radius: 0 0.5rem 0.5rem 0;
        max-height: max-content;
    }
    .card img {
    max-width: 560px;
    border-radius: 0 0.5rem 0.5rem 0;
    }
    .stat {
        display: flex;
        flex-direction: row nowrap;
        gap: 3.7rem;     
    }
    .info {
        font-size: 12px;
    }
    .numb {
        font-size: 20px;
    }
    .stat1 .numb {
        align-self: self-start;
    }
    .stat2 .numb {
        align-self: self-start;
    }
    footer {
        display: none;
    }  
    }

    




    
         
        
        
    
 


 

    
